* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  background-color: rgb(225, 6, 0);
}

.navbar-logo {
  max-width: 250px;
}

.F1Logo {
  color: white;
  letter-spacing: 5px;
  font-size: 40px;
}

.nav-links {
  display: flex;
  background-color: white;
  justify-content: space-around;
  width: 45%;
  border-radius: 5px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 5px;
  font-weight: 600;
  font-size: 20px;
}

.nav-links li {
  list-style: none;
}

#container {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 100px;
}

#footer {
  background-color: rgb(225, 6, 0);
  position: relative;
  height: 150px;
  margin-top: -200px;
  clear: both;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.footer-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 5px;
  font-weight: 600;
  font-size: 20px;
}

.footer-links {
  list-style: none;
}

.footer-links {
  margin: 2%;
}

.box-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20 15;
  margin-top: 50px;
  gap: 20px;
}

.leader {
  height: 80vh;
  width: 40%;
  border: 20px solid rgb(225, 6, 0);
  border-radius: 15px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.leader-header {
  background-color: rgb(225, 6, 0);
  position: relative;
  height: 200px;
  margin-top: 13px;
  clear: both;
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 35px;
  color: white;
  letter-spacing: 5px;
}

.results-header {
  background-color: rgb(225, 6, 0);
  position: relative;
  height: 85px;
  margin-top: -10px;
  clear: both;
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 35px;
  color: white;
  letter-spacing: 5px;
}

.table-place {
  flex-grow: 2;
  border: 20px solid rgb(225, 6, 0);
  border-radius: 15px;
  height: 80vh;
  margin-right: 15px;
}

.width-100 {
  width: 100vw;
}

.leader-stats {
  height: 80vh;
  width: 80%;
  border: 10px solid rgb(225, 6, 0);
  border-radius: 5px;
  margin-left: 10%;
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.leader-stats p {
  margin-top: 15px;
  margin-left: 15px;
  font-size: 25px;
}

.table-place ol {
  font-weight: bold;
  margin-top: 20px;
  margin-left: 15px;
}

.table-place li {
  margin-left: 25px;
  margin: 12px;
  font-size: 20px;
}

.table-place li p {
  margin-left: 25px;
  font-size: larger;
}

.constructors-image {
  margin-left: 10%;
  margin-top: 15%;
  margin-bottom: 10%;
}

.driver-image {
  margin-top: 30px;
  margin-left: 23%;
  margin-bottom: 30px;
  width: 500px;
  height: auto;
}

.constructor-results li {
  margin: 8%;
}
.track-image {
  width: 90%;
  height: auto;
  margin-left: 5%;
  margin-top: 5%;
}

.schedule-list li {
  font-size: 19px;
}

.constructorStandings {
  margin: 10px;
}

.team-image {
  width: 90%;
  height: auto;
  margin-left: 5%;
  margin-top: 5%;
}

.project-info {
  font-size: larger;
  margin: 10px;
}

.about-header {
  margin-top: 50px;
}

.team-info {
  margin: 1%;
}

.Sean-Image {
  width: 12%;
  height: auto;
}

.Brad-Image {
  width: 20%;
  height: auto;
}

.Tim-Image {
  width: 20%;
  height: auto;
}

.Arthur-Image {
  width: 12%;
  height: auto;
}

.Arthur-Ortiz {
  height: 20%;
  width: 80%;
  border: 5px solid rgb(225, 6, 0);
  border-radius: 5px;
  margin-left: 10%;
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex;
}

.Arthur-Ortiz li {
  float: left;
  font-size: medium;
}

.Arthur-Ortiz p {
  float: right;
  margin: 10px;
}
.Arthur-Ortiz h3 {
  letter-spacing: 2px;
  margin-left: 5px;
}

.Sean-Keane {
  height: 20%;
  width: 80%;
  border: 5px solid rgb(225, 6, 0);
  border-radius: 5px;
  margin-left: 10%;
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex;
}
.Sean-Keane h3 {
  letter-spacing: 2px;
  margin-left: 5px;
}

.Sean-Keane li {
  float: left;
  font-size: medium;
}

.Sean-Keane p {
  float: right;
  margin: 10px;
}

.Brad-Buchholz {
  height: 20%;
  width: 80%;
  border: 5px solid rgb(225, 6, 0);
  border-radius: 5px;
  margin-left: 10%;
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex;
}

.Brad-Buchholz li {
  float: left;
  font-size: medium;
}

.Brad-Buchholz p {
  float: right;
  margin: 10px;
}

.Brad-Buchholz h3 {
  letter-spacing: 2px;
  margin-left: 5px;
}

.Timothy-Gibson {
  height: 20%;
  width: 80%;
  border: 5px solid rgb(225, 6, 0);
  border-radius: 5px;
  margin-left: 10%;
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex;
}

.Timothy-Gibson li {
  float: left;
  font-size: medium;
}

.Timothy-Gibson p {
  float: right;
  margin: 10px;
}

.Timothy-Gibson h3 {
  letter-spacing: 2px;
  margin-left: 5px;
}

.api-constructors {
  margin-left: 25%;
  margin-top: 8%;
  font-size:larger;
  font-weight:bolder;
}

.api-constructors li {
 font-size: 40px;
}

.constructor-leader-stats {
  margin-left: 25%;
  margin-top: 8%;
  font-size:larger;
  font-weight:bolder;
}



